<footer class="footer">
  <div class="aviso">Aviso de privacidad / contacto</div>
  <img class="image-footer" src="../../../assets/logo-sochi-color.png" />
  <div class="media">
    <div class="conteiner-media phone">
      <img src="../../../assets/mobli-icon.png" alt="" class="img-media" />
    </div>
    <div class="conteiner-media xs">
      <img src="../../../assets/pngwing.com.png " alt="" class="img-media" />
    </div>
    <div class="conteiner-media facebook">
      <img src="../../../assets/logo-de-facebook.png" alt="" class="img-media" />
    </div>
    <div class="conteiner-media youtube">
      <img src="../../../assets/vecteezy_youtube-logo-png-youtube-logo-transparent-png-youtube-icon_23986704.png" alt="" class="img-media" />
    </div>
  </div>
</footer>
